**/*.pyc
*.png
datasets/sample_data/
datasets/robotcar/RobotCarDataset-Scraper
datasets/robotcar/sdk/robotcar-dataset-sdk
**/*.pyc
predictions/
datasets/robotcar/junk/
checkpoints/
export_gt.py
dtd_gt_fp16.npy
dtd/evaluation/junk
.gitignore